@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Azeret Mono";
}

/* Nav CSS */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}

nav h1{
    color: rgb(13, 19, 33);
        font-size: 34px;
        font-weight: 800;
        line-height: 33px;
        letter-spacing: 0%;
        margin-right: 800px;

}

#nav-button{
    background: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    width: 244px;
    height: 57px;
    font-size: 20px;
    overflow: hidden;
}

/* Banner CSS */
.banner{
    background: url("assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    text-align: center;

}

.banner img{
    margin-top:100px;
    height: 240px;
    width: auto;
}

.banner-content h1{
    color: rgb(13, 19, 33);
        font-size: 55px;
        font-weight: 800;
        line-height: 68px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 32px;
}

.banner-content p{
    color: rgb(13, 19, 33);
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.7;
        margin-top: 24px;
}

.banner-btn{
   
        width: auto;
        height: 85px;
        padding: 0px 20px;
        border-radius: 8px;
        background: rgb(13, 19, 33);
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 53px;
}


/* Main CSS */

/* Shared Title Style */

.heading{
    padding-top: 100px;
}
 
 .title{
 color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;


 }

 
 .title-des{
    color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.7;
        margin-bottom: 50px;
        padding: 0px 200px;
       
 }

/* Card Style */

.development {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.web-content{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0px 70px;
    
}
 .card-content h2{
    color: rgba(13, 19, 33, 0.7);
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
}

 .card-content p{
        color: rgb(13, 19, 33);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
            opacity: 0.7;
            margin-top: 20px;
}

.card-content  button{
    width: 171px;
    height: 47px;
    margin-top:  30px;
    box-sizing: border-box;
        border: 1px solid rgb(13, 19, 33);
        opacity: 0.7;
        background: transparent;
        color: rgb(13, 19, 33);
            font-size: 20px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0%;
            text-align: center;
}


 .card-content-second h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.card-content-second p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 20px;
}

.card-content-second button {
    width: 171px;
    height: 47px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background: transparent;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}


.card{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding: 50px 100px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 8px;
   
}

.card-bg {
    background-color: white;
    background-image: linear-gradient(to right, white 30%, rgba(13, 19, 33, 0.02));
   
    
}

.card-bg-second {
    background-color: white;
    background-image: linear-gradient(to left, white 30%, rgba(13, 19, 33, 0.02));


}



.card-content-second {
    flex: .75;
    box-sizing: border-box;
    padding: 10px;
}

.card-img-second {
    flex: 0;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;

}


.card-content,
.card-img {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 10px;
}

.card-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*  Inspiration CSS */

/* .inspiration-content {
    padding: 20px;
}  */

.video-content{
    border: 2px solid black;
    border-radius: 8px;
    margin: 0px 90px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

iframe{
    border-radius: 8px;
}

/* .inspiration{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
        
} */

/* Current Target CSS */

.current-target {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}


.current-target-content {
    border-radius: 16px;
    margin: 0px 90px;
    display: block;

}

.c-skill-content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.skill{
    margin-top: 15px;
    padding: 0px 30px;
    border-radius: 16px;
}

.skill h4{
    color: rgb(13, 19, 33);
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 20px;
}

.skill p{
    color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        opacity: 0.7;
        margin-top: 15px;
}

.skill button{
    background: transparent;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.skill a{
    text-decoration-line: underline;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        
}

.skill img{
    padding-top: 50px;
}

.html{
background: rgba(255, 76, 30, 0.05);
}
.css{
  background: rgba(0, 76, 232, 0.05);
}

.js{
  background: rgba(255, 223, 0, 0.05);
}